.MuiDrawer-paper {
  background-color: #303036 !important;
}
.MuiTypography-root {
  color: #fff !important;
}
.MuiTypography-root {
  color: #fff !important;
}
.cats {
  color: #fff !important;
}
.lsit:hover {
  background-color: #414144 !important;
}
